        body {
            background-color:#34b6d1;
          }
          
          h1 {
            font-family: Verdana;
            color: #7ddb9e;
            font-size: 39px;
            text-align: center;
            background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/0/0a/Flag_of_Jamaica.svg/1200px-Flag_of_Jamaica.svg.png");
          }
          
          h2 {
            color: green;
            background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/0/0a/Flag_of_Jamaica.svg/1200px-Flag_of_Jamaica.svg.png")
          }
          
          body {
            font-size: 29px;
            color: black;
          }
          
          .info {
            border-style: solid;
            border-color: red;
            border-radius: 16px;
            align: center;
          }
          
          .menu {
            color: #7ddb9e;
            text-align: center;
          }
          
          table,
          th {
            border-style: solid;
            border-color: #20db62;
            border-radius: 5px;
            align: center;
            color: #FFD700;
