        body {
            background-color:#34b6d1;
          }
          
          h1 {
            font-family: San Serif,Serif;
            color: red;
            font-size: 100px;
            text-align: center;
            background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/0/0a/Flag_of_Jamaica.svg/1200px-Flag_of_Jamaica.svg.png");
          }
          
          h2 {
            color: red;
            background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/0/0a/Flag_of_Jamaica.svg/1200px-Flag_of_Jamaica.svg.png")
          }
          
          body {
            font-size:49px
            color: red;
          }
          
          .info {
            border-style: solid;
            border-color: red;
            border-radius: 16px;
            align: center;
          }
          
          .menu {
            color: #7ddb9e;
            text-align: center;
            font-size:61px;
          }
          
          table,
          th {
            border-style: solid;
            border-color: #20db62;
            border-radius: 5px;
            align: center;
            color: #FFD700;
                 
img { 
   display: block; margin: auto; width: 40%;
   }
